body {
  background-color: black;
}

#play-area, #history-area {
  margin: auto;
  height: 20vh;
  min-width: 200px;
  width: 80%;
}

#play-area-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
}

#play-area-question {
  font-size: 1.3em;
  text-align: center;
  display: block;
  margin: 20px;
}

#play-area-remaining-time {
  font-size: 1.2em;
  text-align: center;
}