body {
  background-color: black;
}

#play-area {
  margin: auto;
  margin-top: 1em;
  height: 20vh;
  min-width: 200px;
  width: 80%;
}

#history-area, #play-area {
  min-width: 500px;
}

nav {
  min-width: 500px;
}

#play-area, #history-area h2, h3 {
  text-align: center;
}

#play-area-question {
  font-size: 1.3em;
  text-align: center;
  display: block;
  margin: .8em;
}

#play-area-remaining-time {
  font-size: 1.2em;
  text-align: center;
}

#btn-play-again {
  width: 100%;
}

.recharts-wrapper {
  margin-left: auto;
  margin-right: auto;
}

/* Override bootstrap behavior */
.row > * {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding: 5px;
}

.answer-button {
  max-width: 49%;
  min-width: 49%;
  min-height: 3.5em;
  overflow: hidden;
}

.answer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Wrap buttons to one col for smaller screen sizes */
@media only screen and (max-width: 600px) {
  .answer-button {
    min-width: 100%;
  }
}
